// RopCS.less
// ROP Computer Science stylesheet

// .rop-header{
//    background: url('rop_header.gif');
//    background-position: center;
//    background-repeat: no-repeat;
//    background-size: cover;
// }

//body { padding-top: 70px; }

.title{
   margin-bottom:0px;
}

.teacherInfo{
  margin-top:0px;
}

.nopadding{
  padding:0px;
}

.panel-body{
  font-size:large;
}

.bpadding{
  padding-bottom:30px;
}

.additional-link{
  display:none;
}

.quizz-button-text{
  margin: 0 0 0 0;
}

.msussman-header{
  color:white;
  width:100vw;
  height:90vh;
  background: url('MSussmanImage0.png');
  background-position: center;
  background-repeat: no-repeat;
 // background-size: 100% 100%;
  background-size:cover;
}

.ms-header-text{
  background-color:rgba(0,0,0,0.3);
  border-radius:25px;
 }

.msnavbar{
  background-color:rgba(0,0,0,0.5);
  border-style:none;
}

.work-img-padding{
  padding-top:5px;
}
